---
import Layout from '@/layouts/Layout.astro';
import ForgotPasswordForm from '@/components/forms/ForgotPasswordForm';
import GuestNav from '@/components/navigation/GuestNav';

export const prerender = false;
---

<Layout title="Forgot Password - Darter Assistant">
  <GuestNav client:load />
  
  <main class="min-h-[calc(100vh-73px)] flex items-center justify-center p-4">
    <ForgotPasswordForm client:load />
  </main>
</Layout>

